.prices-block {
  font-family: "Play", Sans-serif;
  min-width: 186px;
  color: #FFFFFF;
  font-size: 20px;
}

.prcies-block__promotions {
  display: none;
  position: absolute;
  margin-left: 200px;
  margin-top: 0.5px;
  min-width:56px;
  color: #fff;
  z-index: 2;
}

.prcies-block__promotions__bg-yellow {
  display: none!important;
  margin-left: 200px;
  margin-top: 0.5px;
  position: absolute;
  background-color: #ffff00a8;
  margin-bottom: -50px;
  border-radius: 50px;
  filter: blur(8px);
  z-index: 1;
}

.prcies-block__promotions__bg-red {
  display: none!important;
  margin-left: 200px;
  margin-top: 0.5px;
  position: absolute;
  background-color: #ff00009e;
  margin-bottom: -50px;
  border-radius: 50px;
  filter: blur(8px);
  z-index: 1;
}

.elementor-element-a5ea470:hover .prcies-block__promotions {
  display: block;
}

.elementor-element-a5ea470:hover .prcies-block__promotions__bg-yellow {
  display: block!important;
}

.elementor-element-a5ea470:hover .prcies-block__promotions__bg-red {
  display: block!important;
}

.prices-block ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.prices-block li {
  display: flex;
  justify-content:space-between;
}

.abonement-price-block__title {
  background-color: red;
  border-radius: 4px;
}

.tarif-price-block__title {
  background-color: red;
  border-radius: 4px;
}

.prices-block h3 {
  margin-bottom: 0px!important;
  text-align: center;
  color: #ffffff!important;
}

.tarif-price-block__day {
  display: flex;
  color: #F2BB42;
  align-items: center;
}

.tarif-price-block__time {
  display: flex;
  align-items: center;
  text-align: right;
  line-height: 13px;
  font-size: 13px;
}

.tarif-price-block__price {
  display: flex;
  align-items: center;
}

.tarif-price-block {

}

.abonement-price-block {

}


.quick-contacts {
  font-family: "Exo 2", Sans-serif;
  max-width: 185px;
}

.button-in-price button {
  color: grey;
  background-color: transparent;
}

.button-in-price button:hover {
  color: white;
  background-color: red;
}

.location-block {
  display: flex;
}

.location-icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
  color: var( --e-global-color-4f2f3ae);
  width: 1.25rem;
  font-size: 22px;
}

.location-text {
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.3em;
  text-align: left;
}

.whatsapp-block {
  display: flex;
}

.whatsapp-icon {
  display: flex;
  align-items: center;
  color: green;
  margin-right: 8px;
  font-size: 20px;
}

.whatsapp-text {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #d3d3d3;
  text-align: left;
}

.phone-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.4rem;
  color: #FFFFFF;
}

.addresses-in-main-section {
  justify-content: space-around;
  gap: 10px;
}

.news-section {
  padding: 60px 0px 60px 0px;
  background-image: url(../images/news-background.png);
}




@media (min-width: 600px) {
  .main-block-in-main-section {
  }

  .titles-block-in-main-section {
  }

  .title-in-after-price {
    font-size: 25px!important;
  }

  .title-in-main-section {
    font-size: 30px!important;
    margin-top: 120px!important;
    margin-bottom: 20px!important;
    text-transform: none!important;
  }

  .company-name-2 {
    color: var( --e-global-color-4f2f3ae)!important;
    font-family: "Play", Sans-serif;
    font-size: 40px!important;
    margin-bottom: 0px!important;
    font-weight: 600;
  }

  .sub-title-in-main-section {
    /*text-align: left;*/
    font-size: 25px!important;
    color: #EAEAEA!important;
  }

  .main-table-ul {
    color: white;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
  }

  .main-table-li {
    display: flex;
    color: #EAEAEA;
    align-items: center;
    list-style-type: none;
    font-family: "Exo 2", Sans-serif;
    font-weight: 400;
    margin-bottom: -6px;
    justify-content: start;
  }

  .main-table-text {
    font-size: 20px;
    line-height: 1em;
    text-align: left;
  }

  .main-table-icon {
    font-size: 30px;
    margin-right: 2%;
  }

  .second-sub-title-in-main-section {
    margin-top: 24px!important;
    font-size: 25px!important;
    margin-bottom: 30px!important;
    color: #EAEAEA!important;
    /*text-align: left;*/
  }

  .br-in-main {
    display: none;
  }

  .end-fraze-in-main-section {
    color: #EAEAEA!important;
    font-family: "Exo 2", Sans-serif;
    margin-bottom: 24px!important;
    margin-top: 44px!important;
    text-align: center!important;
  }
}

@media (max-width: 599px) {
  .title-in-main-section {
    font-size: 5vw!important;
    text-transform: none!important;
  }

  .sub-title-in-main-section {
    font-size: 4.5vw!important;
    color: #EAEAEA!important;
  }

  .company-name-2 {
    color: var( --e-global-color-4f2f3ae)!important;
    font-family: "Play", Sans-serif;
    font-size: 55px;
    margin-bottom: 0px!important;
    font-weight: 600;
  }

  .main-table-ul {
    color: white;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
  }

  .main-table-li {
    display: flex;
    color: #EAEAEA;
    align-items: center;
    list-style-type: none;
    font-family: "Exo 2", Sans-serif;
    font-weight: 400;
    justify-content: start;
  }

  .main-table-text {
    font-size: 1.1em;
    line-height: 1.5em;
  }

  .main-table-icon {
    font-size: 10vw;
    margin-right: 5%;
  }

  .second-sub-title-in-main-section {
    margin-top: 24px!important;
    font-size: 4.5vw!important;
    margin-bottom: 30px!important;
    color: #EAEAEA!important;
  }

  .end-fraze-in-main-section {
    color: #EAEAEA!important;
    font-family: "Exo 2", Sans-serif;
    margin-bottom: 24px!important;
    text-align: center!important;
  }
}


.text-whatsapp-in-contacts {
  font-family: "Play", Sans-serif;
  font-size: 12px;
  color: #FFFFFF;
}

.icon-whatsapp-in-contacts {
  color: green;
  font-size: 20px;
}

.div-with-whatsapp-in-contacts {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -3px;
  height: 25px;
}

.mouse-hover:hover {
  transform: scale(1.1);
  transition: .4s;
}

.mouse-hover {
  transition: .4s;
}

.main-table {
  display: flex;
  justify-content: center;
}

.phone-icon-contacts {
  font-size: 13.68px;
}

.special-promotion-block {
  margin-top: 20px;
  max-width: 474px!important;
  justify-content: center;
  display: flex;
}

.promotions-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}


@media (min-width: 600px) {
  .promotions-block {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 599px) {
  .promotions-block {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .promotions-block {
    grid-template-columns: repeat(1, 1fr);
  }
}


.promotions-post:hover {
  transform: scale(1.03);
  transition: .4s;
}

.promotions-post {
  transition: .4s;
}

.separator-in-main-section {
  padding-top: 4px!important;
  padding-bottom: 4px!important;
}

.block-in-main-section {
  margin-bottom: 4px!important;
}

.company-name {
  color: var( --e-global-color-4f2f3ae) ;
}

.address-in-main-section {
  display: flex;
  align-items: center;
}

.text-in-address {
  text-align: left;
  align-items: center;
}

.gis-logo {
  color: white;
  width: 19.25px;
}

.icon-in-address {
  display: flex;
  align-items: center!important;
  margin-right: 8px;
  color: var( --e-global-color-4f2f3ae);
  width: 1.25rem;
  var(--e-icon-list-icon-size);
  font-size: 22px;
}

.number-in-address {
  margin-bottom: 0px!important;
  color: #FEFFFF!important;
  font-family: "Exo 2", Sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
}

.number-in-address-block {
  color: #FEFFFF!important;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: -12px;
}

.text-in-address-block {
  display: flex;
}

.text-in-address {
  color: #FFFFFF;
  font-family: "Exo 2", Sans-serif;
  font-weight: 400;
  line-height: 1.3em;
}


/*Popup styles*/

.b-popup{
    /*width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.93);
    z-index: 999;
}
.b-popup-content{
/*    margin:auto auto auto auto;
    width:100px;
    height: 40px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;*/
    background-image:
      linear-gradient(to top, rgba(21,21,21,0.98), rgba(21,21,21,0.98)),
      url(../images/popup-bg.jpeg);
    border-radius: 8px;
    width: 380px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F5F5F566;
    transition: background 0.3s, border 0.3s, box-shadow 0.3s;
}

/* Slider */
/*#slidewrapper
#viewport
#next-btn
#prev-btn
.slide-nav-btn
*/
#block-for-slider {
  width: 100%;
  margin: 0 auto;
}

#viewport, #viewport2, #viewport3, #viewport4, #viewport5, #viewport6, #viewport7, #viewport8 {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 19px;
}

#slidewrapper, #slidewrapper2, #slidewrapper3, #slidewrapper4, #slidewrapper5, #slidewrapper6, #slidewrapper7, #slidewrapper8 {
    position: relative;
    width: calc(100% * 5);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li,
#slidewrapper, #slidewrapper2, #slidewrapper3, #slidewrapper4, #slidewrapper5, #slidewrapper6, #slidewrapper7, #slidewrapper8,
#slidewrapper2 ul,
#slidewrapper3 ul,
#slidewrapper4 ul,
#slidewrapper5 ul,
#slidewrapper6 ul,
#slidewrapper7 ul,
#slidewrapper8 ul,
#slidewrapper2 li,
#slidewrapper3 li,
#slidewrapper4 li,
#slidewrapper5 li,
#slidewrapper6 li,
#slidewrapper7 li,
#slidewrapper8 li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/5);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn,
#prev-btn2, #next-btn2,
#prev-btn3, #next-btn3,
#prev-btn4, #next-btn4,
#prev-btn5, #next-btn5,
#prev-btn6, #next-btn6,
#prev-btn7, #next-btn7,
#prev-btn8, #next-btn8 {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #fb1f1f;
    background-color: #151515;
    border-radius: 25%;
    top: calc(50% - 15px);
}

#prev-btn:hover, #next-btn::hover,
#prev-btn2:hover, #next-btn2:hover,
#prev-btn3:hover, #next-btn3:hover,
#prev-btn4:hover, #next-btn4:hover,
#prev-btn5:hover, #next-btn5:hover,
#prev-btn6:hover, #next-btn6:hover,
#prev-btn7:hover, #next-btn7:hover,
#prev-btn8:hover, #next-btn8:hover {
    cursor: pointer;
}

#prev-btn,
#prev-btn2,
#prev-btn3,
#prev-btn4,
#prev-btn5,
#prev-btn6,
#prev-btn7,
#prev-btn8 {
    left: 20px;
}

#next-btn,
#next-btn2,
#next-btn3,
#next-btn4,
#next-btn5,
#next-btn6,
#next-btn7,
#next-btn8 {
    right: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn,
.slide-nav-btn2,
.slide-nav-btn3,
.slide-nav-btn4,
.slide-nav-btn5,
.slide-nav-btn6,
.slide-nav-btn7,
.slide-nav-btn8 {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 8px;
    height: 8px;
    background-color: #151515;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover,
.slide-nav-btn2:hover,
.slide-nav-btn3:hover,
.slide-nav-btn4:hover,
.slide-nav-btn5:hover,
.slide-nav-btn6:hover,
.slide-nav-btn7:hover,
.slide-nav-btn8:hover {
    cursor: pointer;
}

.table-in-sales-popup {
  display: flex;
  justify-content: left;
}

.table-in-sales-popup ul {
  list-style: none;
  margin-right: 20px;
}

.table-in-sales-popup li {
  color: #EAEAEA;
  font-family: "Exo 2", Sans-serif;
  text-align: left;
  margin-bottom: 12px;
  line-height: 16px;
}

.close-modal {
  color: white;
  position: absolute;
  z-index: 9999;
  margin-left: 357px;
}

.close-modal:hover {
  color: #fb1f1f;
}

.button-in-popup {
  background-color: #C50C2C1A;
  color: #FFFFFF;
  border-color: var( --e-global-color-4f2f3ae );
  font-size: 14px!important;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 0px 0px 0px 0px;
  padding: 19px 30px 19px 30px;
  font-family: "Play", Sans-serif;
  font-size: 20px;
  transition: .4s;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
  flex-basis: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px #2F3B47;
  max-width: 200px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.button-in-popup:hover {
  /*background-color: rgba(15, 15, 15, 0);*/
  /*color: #FFFFFF;*/
  border-color: var( --e-global-color-4f2f3ae );
  transform: scale(1.1);
  box-shadow: inset 200px 0px 0px #fb1f1f;
}

.div-button-in-popup {
  display: flex;
  justify-content: center;
}

.title-in-popup {
  font-family: "Play", Sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  transform: skew(-10deg);
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}

.title-in-popup h2 {
  color: #FFFFFF;
}

.bg-popup {
  background: red;
  padding: 0px 5px;
}

.li-contact-address {
  font-size: 14px!important;
}

/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.div-post-list-heading {
  display: flex;
  justify-content: center;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
  }

.page-bg {
  background-image: url(../../wp-content/uploads/2021/12/maxresdefault_live-min.jpeg)!important;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

.page-overlay {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.45;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
  color: #FFFFFF!important;
  font-family: "Play", Sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  color: #FFFFFF!important;
  font-family: "Play", Sans-serif;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  font-family: "Play", Sans-serif;
  color: #FFFFFF;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content code {
  color: black;
}

.post-content {
  margin-bottom: $spacing-unit;
  font-family: "Play", Sans-serif;
  color: #e1e1e1;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

